@font-face {
    font-family: 'BiteChocolate';
    src: url('BiteChocolate-2RGl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    z-index: 2;
    font-family: 'BiteChocolate', sans-serif;
    height: 100px;
}

nav.nav-fixed{
    position: fixed;
    opacity: 0.5;
    top: -80px;
    left: 0;
    right: 0;
    height: 80px;
    animation: showNavFixed .5s forwards;
}

@keyframes showNavFixed {
    0%{
        opacity: 0.5;
    }

    100%{
        top: 0;
        opacity: 1;
    }
}

nav a{
    text-decoration: none;
    color: #fdfbef;
    transition: color .25s;
}

nav a:hover{
    color: black;
}

#nav-links a:nth-child(2){
    margin-right: 40px;
}

nav li{
    list-style: none;
}   

#nav-recipes{
    padding-left: 20px;
    padding-bottom: 1px;
    background-color: rgb(90, 35, 20);
    min-width: 380px;
}

#nav-recipes a:hover{
    color: #fdfbef;
}

#nav-recipes li:nth-child(1){
    margin-top: 0;
}

#nav-recipes li{
    margin-top: 20px;
    margin-bottom: 20px;
    transition: padding .5s;
 }

#nav-recipes li:hover{
    background-color: rgb(78, 27, 13);
    padding-left: 25px;
 }

#nav-links{
    background-color: rgb(90, 35, 20);
    z-index: 1;
    padding-right: 50px;
    display: flex;
    align-items: center;
    height: 100%;
    flex-basis: 100%;
}

#nav-links a:last-child{
    margin-left: auto;
}

#logo{
    max-height: 50px;
    margin: 0 40px 0 20px;
}

#nav-choco{
    position: absolute;
    right: 0;
    top: -680px;
    overflow: hidden;
}

#nav-recipes-container{
    display: flex;
}

#previews{
    width: 50%;
    background-size: cover;
    background-position: center;
}

#nav-choco-open-menu{
    position: relative;
    z-index: -1;
    top: -150px;
}

#test{
    margin-left: auto;
    width: 600px;
    height: 600px;
    background-image: url(chocolate-7848086_1280.webp);
    background-position: center;
}

@media screen and (width < 1000px) {
    #nav-choco{
        display: none;
    }
}