.deco1 {
  background-color: darkorange;
  width: 200px;
  height: 400px;
  border-radius: 10px;
  margin: 10px 20px;
}
.deco2 {
  background-color: darkorange;
  width: 200px;
  height: 400px;
  border-radius: 10px;
  margin: 200px 20px 0 auto;
}
.cookie {
  background-color: burlywood;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 50px 0 0 85px;
  padding: 20px;
}
.cookie {
  background-color: burlywood;
  position: absolute;
  width: 1050px;
  height: 950px;
  border-radius: 10px;
  margin: 50px 0 0 500px;
}
