@font-face {
    font-family: 'BiteChocolate';
    src: url('../../fonts/BiteChocolate-2RGl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfbef;
}

*::selection{
    background-color: rgba(90, 35, 20, 0.5);
}

h1{
    font-family: 'BiteChocolate', sans-serif;
    color: #fdfbef;
    text-align: center;
    position: absolute;
    min-width: 750px;
    top: 50%;
    left: 50%;
    translate: -50% calc(-50% - 1.750rem);
    font-size: 3.5rem;
    background-color: rgba(0,0,0,0.25);
    border-radius: 15px;
    padding: 1rem;
    z-index: 3;
}

h2{
    color: rgb(90, 35, 20);
    margin: 1rem 0;
    text-align: center;
}

h3{
    text-decoration: underline;
    color: rgb(90, 35, 20);
    margin: 1rem 0;
}

@media screen and (width < 780px) {
    h1{
        min-width: 400px;
        font-size: 2rem;
    }
}

.cake-banner{
    position: relative;
    height: 650px;
    background-image: url('../../img/recipes/Cake/cake.jpg');
    background-size: cover;
}
@media screen and (width > 1400px) {
    .cake-banner{
        background-position: 0 25%;
    }
}

.container-header-logo{
    position: relative;
    top: 15%;
    width: clamp(250px, 30%, 486px);
    margin-left: auto;
}

.header-logo{
    margin-right: 2%;
    width: 100%;
    z-index: 3;
    filter: drop-shadow(10px 10px 4px rgba(81, 41, 32, 0.35));
}

.general-infos,
.steps{
    width: clamp(500px, 100%, 1200px);
    margin: auto;
}

.informations li{
    list-style: none;
    margin: 10px 0;
}

.informations i{
    color: rgb(90, 35, 20);
}

.informations p{
    margin: 10px 0;
}

.informations{
    display: flex;
    justify-content: space-around;
}

@media screen and (width < 700px) {
    .general-infos,
    .steps{
        width: 90%;
    }

    .informations{
        flex-direction: column;
    }

    .informations div{
        margin-left: 25%;
    }
}

.steps a{
    color: rgb(90, 35, 20);
    opacity: 0.5;
}

.step-desc strong{
    color: rgb(90, 35, 20);
}

.step i{
    color: rgb(90, 35, 20);
}

.step{
    display: flex;
    margin-top: 20px;
}

.step-desc{
    position: relative;
    top: 20px;
    margin-left: 20px;
}

.step .number{
    min-width: 50px;
    background-color: rgb(90, 35, 20);
    border-radius: 100%;
    height: 50px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(90, 35, 20, 0.5);
}

.step .number span{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: #fdfbef;
    font-weight: bold;
    font-size: 1.5rem;
}

.last-step{
    margin-bottom: 30px;
}