@font-face {
    font-family: 'BiteChocolate';
    src: url('../../fonts/BiteChocolate-2RGl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfbef;
    line-height: normal;
}

nav ul{
    margin-bottom: 0;
}

ul{
    padding-left: 0;
}

*::selection{
    background-color: rgba(90, 35, 20, 0.5);
}

.glace-banner > p{
    font-family: 'BiteChocolate', sans-serif;
    color: #fdfbef;
    text-align: center;
    position: absolute;
    min-width: 750px;
    top: 50%;
    left: 50%;
    translate: -50% calc(-50% - 1.750rem);
    font-size: 3.5rem;
    background-color: rgba(0,0,0,0.25);
    border-radius: 15px;
    padding: 1rem;
    z-index: 3;
}

h1,
h2{
    color: rgb(90, 35, 20);
    margin: 1rem 0;
    text-align: center;
}

h3{
    text-decoration: underline;
    color: rgb(90, 35, 20);
    margin: 1rem 0;
}

@media screen and (width < 780px) {
    h1{
        min-width: 400px;
        font-size: 2rem;
    }
}

.glace-banner{
    position: relative;
    height: 650px;
    background-image: url('../../img/recipes/glace/cock.jpeg');
    background-size: cover;
}
@media screen and (width > 1400px) {
    .glace-banner{
        background-position: 0 25%;
    }
}
@media screen and (width < 650px) {
    .glace-banner{
        background-position: 25% 0%;
    }
}

.container-header-logo{
    position: relative;
    top: 15%;
    width: clamp(250px, 30%, 486px);
    margin-left: auto;
}

.header-logo{
    margin-right: 2%;
    width: 100%;
    z-index: 3;
    filter: drop-shadow(10px 10px 4px rgba(81, 41, 32, 0.35));
}

#description,
.general-infos{
    width: clamp(500px, 100%, 1200px);
    margin: auto;
}

.steps{
    width: clamp(500px, 100%, 1200px);
    margin: auto;
}

#description{
    padding: 0 50px;
    margin-bottom: 50px;
}

#description p{
    font-size: 1.25rem
}

.informations li{
    list-style: none;
    margin: 10px 0;
}

.informations i{
    color: rgb(90, 35, 20);
}

.informations p{
    margin: 10px 0;
}

.informations .fa-star{
    color: rgb(244, 215, 41);
}

.informations div:nth-child(1) a{
    color: rgb(90, 35, 20);
}

.informations div:nth-child(1) p{
    margin-top: 20px;
}

.informations{
    display: flex;
    padding: 0 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

@media screen and (width < 850px) {
    #description,
    .general-infos,
    .steps{
        width: 90%;
    }

    .general-infos h2{
        padding: 0 50px;
    }

    .informations{
        flex-direction: column;
    }

    .informations div{
        margin-left: 25%;
    }

    .steps,
    .informations,
    #description{
        padding: 0;
    }

}

.steps{
    padding: 0 50px;
    display: flex;
}

.container-img-steps{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    height: 550px;
    top: 120px;
    margin-left: 40px;
}

@media screen and (width < 900px) {
    .steps{
        flex-direction: column;
    }
    .container-img-steps{
        margin-left: 0px;
        order: -1;
        top: 0;
        height: 320px;
    }
}

.img-steps{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../../img/recipes/glace/cream-anglaise-chocolat.webp);
}

.steps a{
    color: rgb(90, 35, 20);
    opacity: 0.5;
}

.step-desc strong{
    color: rgb(90, 35, 20);
}

.step i{
    color: rgb(90, 35, 20);
}

.step{
    display: flex;
    margin-top: 20px;
}

.step-desc{
    position: relative;
    top: 20px;
    margin-left: 20px;
}

.step .number{
    min-width: 50px;
    background-color: rgb(90, 35, 20);
    border-radius: 100%;
    height: 50px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(90, 35, 20, 0.5);
}

.step .number span{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: #fdfbef;
    font-weight: bold;
    font-size: 1.5rem;
}

.last-step{
    margin-bottom: 30px;
}