.index-banner{
    height: 650px;
    background-color: rgb(255,235,215);
    display: flex;
    align-items: center;
    justify-content: end;
}

.index-banner img{
    margin-right: 2%;
    width: clamp(250px, 30%, 486px);
    z-index: 3;
    filter: drop-shadow(10px 10px 4px rgba(81, 41, 32, 0.35));
}