body {
  line-height: normal;
  overflow-x: hidden;
}

nav {
  font-size: 1rem;
}

nav ul {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.bannerImg {
  position: relative;
  height: 700px;
  background-image: url("/public/assets/1575898110_fondant-au-chocolat-transformed.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  z-index: auto;
}

.textBanner {
  font-family: "Dancing Script", sans-serif;
  color: #230903;
  background: #fcd7ad89;
  text-shadow: 3px 2px 3px #230903;
  font-size: 60px;
  text-align: center;
  position: absolute;
  max-width: 750px;
  top: 50%;
  left: 50%;
  translate: -50% calc(-50% - 30px);
  border-radius: 15px;
  padding: 1rem;
  z-index: 1;
}
@media screen and (width < 768px) {
  .textBanner {
    min-width: 120px;
    font-size: 3rem;
    left: 50%;
  }
}
.cardTitreMain {
  color: #955e42;
  font-size: 2rem;
  font-family: "Hind Madurai", sans-serif;
}

.textTitre {
  color: #553739;
  font-family: "Dancing Script", sans-serif;
  font-weight: bolder;
  font-size: 55px;
  text-shadow: 3px 2px 3px #230903;
}

.cardTitre {
  background-color: #fcd7ad82;
  padding-bottom: 0;
}

.titreIngredients {
  font-family: "Dancing Script", sans-serif;
  color: #f6c28b;
  font-size: 30px;
  text-shadow: 3px 2px 3px #fcd7ad;
}
.cardPreparation {
  background-color: #fcd7ad82;
  padding-bottom: 0;
}
.listPrepa {
  list-style: none;
}
.titreColorPrepa {
  color: #230903;
  font-family: "Dancing Script", sans-serif;
  font-weight: 600;
  font-size: 45px;
  text-shadow: 3px 2px 3px #230903;
}
.textColorPrepa {
  color: #955e42;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.textColor {
  color: #fcd7ad;
  font-family: "Hind Madurai", sans-serif;
  font-weight: bold;
}
.colorCard {
  background-color: rgb(90, 35, 20);
}
.card-body {
  height: fit-content;
}
.imgFondantRecette {
  max-width: 65%;
  opacity: 80%;
  border-radius: 50px 10px;
  box-shadow: 10px 10px 15px 7px #230903;
}
@media screen and (width < 768px) {
  .imgFondantRecette {
    max-width: 100%;
    left: 3%;
  }
}
.review-count {
  font-family: "Nunito", sans-serif;
  color: #f6c28b;
  font-size: 16px;
}
.rating-color {
  color: rgba(255, 255, 0, 0.669);
}



.ps-container {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100wv;
    height: 100vh; 
}
  
.ps-photoset {
    width: 60%;
    max-width: 300px;
    position: relative;
    margin: -80px auto 0;
    aspect-ratio: 7 / 5; 
}
  
.ps-photoset:hover .ps-photo {
    transform: rotate(0deg); 
}
  
.ps-photoset:hover .ps-photo:nth-child(1) {
    left: 15vw;
    top: 15vw; 
}
  
.ps-photoset:hover .ps-photo:nth-child(2) {
    left: -15vw;
    top: 5vw; 
}
  
.ps-photoset:hover .ps-photo:nth-child(3) {
    left: 5vw;
    top: -10vw; 
}
  
.ps-photo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms all ease; 
    border-radius: 50PX;
}
  
.ps-photo:nth-child(1) {
    transform: rotate(4deg); 
}
  
.ps-photo:nth-child(2) {
    transform: rotate(3deg); 
}
  
.ps-photo:nth-child(3) {
    transform: rotate(-3deg); 
}
  
.formBg{
    background-color: #fcd7ad82;
    padding-top: 100px;
    padding-bottom: 100px;
}
/*background svg carousel */
.photoContainer{
  background-image: url("img/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media screen and (width < 768px) {
  .photoContainer{
    margin-top: 50px;
    height: 40vh;
    background-image: url("img/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #carousel{
    display: none;
  }
}
/*end background svg carousel */

.titreForm{
  font-family: "Dancing Script", sans-serif;
  color: #230903;
  font-size: 45px;
  text-shadow: 3px 2px 3px #230903;
}
.submitButton{
  background-color: #553739;
  border: 2px solid #230903; 
  font-family: "Nunito", sans-serif;
  font-size: 26px;
  border-radius: 50px;
}
.showForm{
  background-color: #fcd7ad;
  border: 2px solid #230903; 
  font-family: "Nunito", sans-serif;
  font-size: 26px;
  color: #230903;
  border-radius: 50px;
  margin-bottom: 50px;
}
.form-control{
  border-radius: 50px;
  border: 2px solid #230903;

  color: #230903;
}
.etoiles {
  font-family: "Nunito", sans-serif;
  color: #230903;
  font-size: 16px;
}

.rating-color {
  color: gold;
}