
.bannerImg{
    position: relative;
    height: 700px;
    background-image: url('/public/assets/1575898110_fondant-au-chocolat-transformed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 95%;
}

.textBanner{
    font-family: 'Dancing Script', sans-serif;
    color: #230903;
    background: #fcd7ad89;
    text-shadow: 3px 2px 3px #230903;
    font-size: 60px;
    text-align: center;
    position: absolute;
    min-width: 750px;
    top: 50%;
    left: 30%;
    border-radius: 15px;
    padding: 1rem;
    z-index: 3;
}
@media screen and (width < 768px) {
    .textBanner{
        min-width: 120px;
        font-size: 3rem;
        left: 3%;
    }
}
.cardTitreMain{
    color: #955E42;
    font-size: 2rem;
    font-family: 'Hind Madurai', sans-serif;
}

.textTitre{
    color: #553739;
    font-family: 'Dancing Script', sans-serif;
    font-weight: bolder;
    font-size: 55px;
    text-shadow: 3px 2px 3px #230903;
}

.cardTitre{
    background-color: #fcd7ad82;
}

.titreIngredients{
    font-family: 'Dancing Script', sans-serif;
    color: #F6C28B;
    font-size: 30px;
    text-shadow: 3px 2px 3px #FCD7AD;
}
.cardPreparation{
    background-color: #fcd7ad82;
}
.listPrepa{
    list-style: none;
}
.titreColorPrepa{
    color: #955E42;
    font-family: 'Dancing Script', sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-shadow: 3px 2px 3px #230903;
}
.textColorPrepa{
    color: #955E42;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
.textColor{
    color: #FCD7AD;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
}
.colorCard{
    background-color: rgb(90, 35, 20);
}
.card-body{
    height: fit-content;
}
.imgFondantRecette{
    max-width: 90%;
    opacity: 80%;
    border-radius: 50px 10px;
    box-shadow: 10px 10px 15px 7px #230903; 
}
@media screen and (width < 768px) {
    .imgFondantRecette{
      max-width: 100%;
        left: 3%;
    }
}
.review-count{
    font-family: 'Nunito', sans-serif;
    color: #F6C28B;
    font-size: 16px;
}
.rating-color{
   color: rgba(255, 255, 0, 0.669);
}